.App {
  margin: 10px;
}
.memories {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 10px;
}
.memory-cell {
  padding: 10px;
}

.memory-left {
  background-color: #fae7d4;

  min-height: 200px;
  border-right: 2px solid #fad9b6;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.year {
  font-size: 3em;
  font-weight: bold;
}

.month-day {
  background-color: #fae7d4;
  font-size: 1.5em;
}

.memory-right {
  background-color: linen;
}
.toolbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  margin-bottom: 10px;
}

.month-day-picker {
  justify-self: center;
  display: flex;
  flex-direction: row;
  gap: 3px;
}